.git
.github
.venv
.pytest_cache
.ruff_cache
.mypy_cache
.hypothesis
.pyre
__pycache__/
*.py[cod]
*.log
.coverage
.coverage.*
.DS_Store
.idea
.vscode
build
dist
htmlcov
site
tests
config.toml
.env
.env.*
